.project {
  height: 100%;
  width: 400px;
  background-color: #2b2d30;
  overflow: auto;
  border-bottom: 1px solid #1f1f22;

  .no-files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .files {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
  }
}
