.actions {
  display: flex;
  flex-direction: row;
  background-color: #2b2d30;
  height: 50px;

  button {
    background-color: #2b2d30;
    color: #bcbec3;
    border: none;
    padding: 0 1em;
    outline: none;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:hover:not(:disabled) {
      background-color: #393b40;
    }

    &:disabled {
      color: #74767a;
    }
  }
}

textarea {
  font-family: 'Courier New', monospace;
  padding: 1em;
  outline: none;
  border: none;
  resize: none;
  background-color: #1f1f22;
  color: #bcbec3;
  width: 100%;
  height: 100%;
}
